/* misc default styling */
.navbar {
  background-color: #1976D2;
  color: #fff;
  width: 100%;
  padding: 0 .8em 0 .4em;
  position: fixed;
  z-index: 1;
  top:0;
  box-shadow: 1px 1px 12px -2px rgba(0,0,0,0.62);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: .9em;
  height: 3.3em;
}

.left {
  align-self: flex-start;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: .5em;
}

.right {
  align-self: flex-end;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: .7em;
}

.rightLinks {
  composes: right;
  margin-bottom: .7em;
  list-style: none;
}

.item {
  margin-top:.3em;
  margin-left:.8em;
}

.icon {
  composes: item;
  margin-top: .1em;
}

.iconClickable {
  composes: icon;
  cursor: pointer;
}

.itemHiddenOnSmall {
  composes: item
}

@media all and (max-width: 38em) {
  .itemHiddenOnSmall {
    composes: item;
    display: none;
  }
}

@media all and (max-width: 38em) {
  .iconHiddenOnSmall {
    composes: icon;
    display: none;
  }
}

.link {
  color: #fff;
  text-decoration: none;
}

.active,
.link:hover,
.link:focus {
  color: #BBDEFB;
}

.children {
  background-color: #1976D2;
  position: absolute;
  margin: 0;
  padding: 0;
  padding-bottom:.2em;
  z-index: 3;
  display: block;
  right: .3em;
  top: 3.3em;
  width: 7em;
  padding-left: .4em;
  box-shadow: 1px 1px 12px -2px rgba(0,0,0,0.62);
}

.children li {
  display: block;
}

.avatar {
  border-radius: 50%;
  margin: -.45em 0 0em .3em;
  padding: 0;
  height: 2.45em;
  width: 2.45em;
}
