/* misc default styling */
.navbar {
  background-color: #1976D2;
  height: 3.3em;
  color: #fff;
  width: 100%;
  white-space: nowrap;
  position: fixed;
  top:0;
  box-shadow: 1px 1px 12px -2px rgba(0,0,0,0.62);
}

.navbarList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  float:left;
}

.navbarListRight {
  composes: navbarList;
  float:right;
}

.navbarList,
.item {
  position: relative;
}

.item {
  padding: 0;
  margin: 0;
  height: 100%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  font-size: .9em;
}

.itemHiddenOnSmall {
  composes: item
}

.divider {
  composes: item;
  background-color: #ccc;
  width: 1px;
  font-size: 1em;
  height: 3.3em;
  padding: 0 0;
  margin: 0 .3em;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}

.link {
  color: #fff;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  padding: 0em 1em;
}

.active > .link,
.link:hover,
.link:focus {
  color: #BBDEFB;
}

.children {
  background-color: #1976D2;
  position: absolute;
  margin: 0;
  padding: 0;
  padding-bottom:.2em;
  z-index: 3;
  display: block;
  right: .7em;
  top: auto;
  width: 9em;
  -webkit-box-shadow: 1px 1px 12px -2px rgba(0,0,0,0.62);
  -moz-box-shadow: 1px 1px 12px -2px rgba(0,0,0,0.62);
  box-shadow: 1px 1px 12px -2px rgba(0,0,0,0.62);
}

.children li {
  display: block;
}

.avatar {
  border-radius: 50%;
  margin: .25em 1em 0em 0em;
  height: 2.95em;
  width: 2.95em;
}

@media all and (max-width: 38em) {
  .itemHiddenOnSmall, .menu {
    display: none;
  }
}
