/* misc default styling */
.navbar {
  background-color: #1976D2;
  height: 3.3em;
  color: #fff;
  width: 100%;
  position: fixed;
  z-index: 1;
  top:0;
  box-shadow: 1px 1px 12px -2px rgba(0,0,0,0.62);
  lost-utility: clearfix;
}

.navbarList {
  float:left;
  margin:0;
  max-height: 100%;
  margin-top: .65em;
}

.navbarListRight {
  composes: navbarList;
  float:right;
  margin-top: .55em;
}

.item {
  margin-top:.2em;
  display: inline-block;
}

.navbarList .item {
  float: left;
}

.navbarListRight .item {
  float: right;
}

.itemHiddenOnSmall {
  composes: item
}

.link {
  color: #fff;
  text-decoration: none;
  padding: 0em .8em;
  vertical-align: middle;
}

.active,
.link:hover,
.link:focus {
  color: #BBDEFB;
}

.children {
  background-color: #1976D2;
  position: absolute;
  margin: 0;
  padding: 0;
  padding-bottom:.2em;
  z-index: 3;
  display: block;
  right: .3em;
  top: 3.3em;
  width: 7em;
  box-shadow: 1px 1px 12px -2px rgba(0,0,0,0.62);
}

.children li {
  display: block;
}

.avatar {
  border-radius: 50%;
  margin: -.25em .5em 0em .3em;
  padding: 0;
  height: 2.45em;
  width: 2.45em;
}

@media all and (max-width: 38em) {
  .itemHiddenOnSmall, .menu {
    display: none;
  }
}

.icon {
  composes: item;
  margin: 0;
}

@media all and (max-width: 38em) {
  .iconHiddenOnSmall {
    composes: icon;
    display: none;
  }
}
