.title {
  composes: title from '../../styles/utilities.css';
}

.subtitle {
  composes: subtitle from '../../styles/utilities.css';
}

.wrapper {
  composes: wrapper from '../../styles/utilities.css';
  max-width: 960px;
}

.grid {
  lost-utility: clearfix;
  margin-bottom: 2em;
}

.column {
  lost-waffle: 1/2;
}

@media all and (max-width: 40em) {
  .column {
    lost-waffle: 1;
  }
}

.btnFeatures {
  composes: button from '../../styles/buttons.css';
  margin: .4em 0em;
  width: 100%;
}

.btn {
  composes: buttonPrimary from '../../styles/buttons.css';
  margin-top: .2em;
  width: 100%;
}

.btnShake {
  composes: buttonShakePrimary from '../../styles/buttons.css';
  margin-top: .2em;
  width: 100%;
  animation: shake .5s 1 ease-in-out;
}

.addFeature {
  margin: .5em 0;
}

.form input, .form label{
  display: block;
  margin: 0.25em 0;
  z-index: 3;
}

.error {
  color: red;
}

.success {
  color: green;
}

.imageList {
  margin: .5em .5em .1em 0;
}

.card {
  margin-bottom: 2em;
}

.selected {
  border: .3em solid green;
  margin-bottom: 3em;
}

.unselected {
  composes: selected;
  padding: .2em;
  border:none
}

.planColumn {
  min-width: 16em;
}

@media all and (max-width: 40em) {
  .planColumn {
    width: 100%;
    min-width: 17em;
  }
}

.planGrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
