.teamTitle {
  margin-bottom: 0;
}

.info {
  padding: 1.5em;
}

.desc {
  margin-bottom: .2em;
  font-size: 1.1em;
  color: #d3d3d3;
}

.link {
  color: #333;
}

.picture {
  width: 2.5em;
  height: 2.5em;
  border-radius: 1%;
}
