.container {
  composes: cardShadow from '../../styles/utilities.css';
  padding: 1em;
}

.teamTitle {
  margin: 0 0;
}

.info {
  display: inline-block;
  vertical-align: middle;
}

.desc {
  margin-bottom: .2em;
  font-size: 1.1em;
  color: #d3d3d3;
}

.link {
  color: #333;
}

.picture {
  width: 4em;
  height: 4em;
  border-radius: 10%;
  display: inline-block;
  vertical-align: middle;
  margin: .1em .2em .1em 0;
}
