/*csslint regex-selectors:false, known-properties:false, duplicate-properties:false*/

.pure-g {
    letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
    *letter-spacing: normal; /* reset IE < 8 */
    *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */

    /*
    Sets the font stack to fonts known to work properly with the above letter
    and word spacings. See: https://github.com/yahoo/pure/issues/41/
    The following font stack makes Pure Grids work on all known environments.
    * FreeSans: Ships with many Linux distros, including Ubuntu
    * Arimo: Ships with Chrome OS. Arimo has to be defined before Helvetica and
      Arial to get picked up by the browser, even though neither is available
      in Chrome OS.
    * Droid Sans: Ships with all versions of Android.
    * Helvetica, Arial, sans-serif: Common font stack on OS X and Windows.
    */
    font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;

    /*
    Use flexbox when possible to avoid `letter-spacing` side-effects.
    NOTE: Firefox (as of 25) does not currently support flex-wrap, so the
    `-moz-` prefix version is omitted.
    */

    display: -webkit-flex;
    -webkit-flex-flow: row wrap;

    /* IE10 uses display: flexbox */
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;

    /* Prevents distributing space between rows */
    -ms-align-content: flex-start;
	-webkit-align-content: flex-start;
	align-content: flex-start;
}

/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/
.opera-only :-o-prefocus,
.pure-g {
    word-spacing: -0.43em;
}

.pure-u {
    display: inline-block;
    *display: inline; /* IE < 8: fake inline-block */
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

/*
Resets the font family back to the OS/browser's default sans-serif font,
this the same font stack that Normalize.css sets for the `body`.
*/
.pure-g [class *= "pure-u"] {
    font-family: sans-serif;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-1-2,
.pure-u-1-3,
.pure-u-2-3,
.pure-u-1-4,
.pure-u-3-4,
.pure-u-1-6,
.pure-u-5-6,
.pure-u-1-12,
.pure-u-2-12,
.pure-u-3-12,
.pure-u-4-12,
.pure-u-5-12,
.pure-u-6-12,
.pure-u-7-12,
.pure-u-8-12,
.pure-u-9-12,
.pure-u-10-12,
.pure-u-11-12,
.pure-u-12-12 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-1-12 {
    width: 8.3333%;
    *width: 8.3023%;
}

.pure-u-1-6,
.pure-u-2-12 {
    width: 16.6667%;
    *width: 16.6357%;
}

.pure-u-1-4,
.pure-u-3-12 {
    width: 25%;
    *width: 24.9690%;
}

.pure-u-1-3,
.pure-u-4-12 {
    width: 33.3333%;
    *width: 33.3023%;
}

.pure-u-5-12 {
    width: 41.6667%;
    *width: 41.6357%;
}

.pure-u-1-2,
.pure-u-6-12 {
    width: 50%;
    *width: 49.9690%;
}

.pure-u-7-12 {
    width: 58.3333%;
    *width: 58.3023%;
}

.pure-u-2-3,
.pure-u-8-12 {
    width: 66.6667%;
    *width: 66.6357%;
}

.pure-u-3-4,
.pure-u-9-12 {
    width: 75%;
    *width: 74.9690%;
}

.pure-u-5-6,
.pure-u-10-12 {
    width: 83.3333%;
    *width: 83.3023%;
}

.pure-u-11-12 {
    width: 91.6667%;
    *width: 91.6357%;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-12-12 {
    width: 100%;
}
