.footer {
  background-color: #555;
  color: #fff;
  font-size: .9em;
}

.grid {
  display: flex;
  font-size: .9em;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.column {
  width: 200px;
  height: 100px;
  padding-top: 40px;
  margin: auto;
  text-align: center;
}

.link {
  color: #fff;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  padding: 0em .8em;
}

.active > .link,
.link:hover,
.link:focus {
  color: #BBDEFB;
}
