/* misc default styling */
.sidebar {
  background-color: #1976D2;
  height: 100%;
  color: #fff;
  white-space: nowrap;
  position: fixed;
  width: 17em;
  box-shadow: 1px 1px 12px -2px rgba(0,0,0,0.62);
  z-index: 2;
  animation: an-open .5s 1;
  animation-fill-mode: both;
}

.sidebarClose {
  background-color: #1976D2;
  height: 100%;
  color: #fff;
  white-space: nowrap;
  position: fixed;
  width: 12em;
  box-shadow: 1px 1px 12px -2px rgba(0,0,0,0.62);
  z-index: 2;
  animation: an-close .5s 1;
  animation-fill-mode: both;
}

@keyframes an-open {
  0% {
    transform: translate(-100%);
  } 100% {
    transform: translate(0);
  }
}

@keyframes an-close {
  0% {
    transform: translate(0);
  } 100% {
    transform: translate(-100%);
  }
}

.sidebarList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}

.item {
  position: relative;
  padding: 0;
  margin: 0;
  display: block;
  zoom: 1;
  font-size: .9em;
  line-height: 2.1em;
}

.divider {
  background-color: #ccc;
  height: 1px;
  margin: 0 0;
}

.link {
  color: #fff;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  padding: 0em 1em;
}

.active,
.link:hover,
.link:focus {
  color: #BBDEFB;
}

.heading {
  composes: link item;
  font-size: 1em;
  padding-top: .6em;
  padding-bottom: .6em;
  margin-bottom: 1em;
  cursor: pointer;
}

.active,
.heading:hover,
.heading:focus {
  color: #BBDEFB;
}

.close {
  position: absolute;
  top: .6em;
  right: .3em;
  cursor: pointer;
}
