.btn {
  composes: buttonPrimary from '../../styles/buttons.css';
  margin-top: .2em;
  margin-bottom: 1em;
}

.grid {
  lost-utility: clearfix;
}

.column {
  lost-waffle: 1/3;
  cursor:pointer;
}

@media all and (max-width: 60em) {
  .column {
    lost-waffle: 1/2;
  }
}

@media all and (max-width: 35em) {
  .column {
    lost-waffle: 1;
  }
}

.title {
  composes: title from '../../styles/utilities.css';
}

.wrapper {
  composes: wrapper from '../../styles/utilities.css';
  max-width: 400px;
}
