.grid {
  lost-utility: clearfix;
  max-width: 960px;
}

.column {
  lost-column: 1/2;
}

@media all and (max-width: 40em) {
  .column {
    lost-waffle: 1;
  }
}

.planShowing {
  margin-top: 1.5em;
}

.title {
  composes: title from '../../styles/utilities.css';
}

.subtitle {
  composes: subtitle from '../../styles/utilities.css';
}

.wrapper {
  composes: wrapper from '../../styles/utilities.css';
}
