.grid {
  lost-utility: clearfix;
  margin-bottom: 1em;
}

.halfColumn {
  lost-waffle: 1/2;
}

@media all and (max-width: 35em) {
  .halfColumn {
    lost-waffle: 1;
  }
}

.btn {
  composes: button from '../../styles/buttons.css';
  margin-top: .2em;
}

.title {
  composes: title from '../../styles/utilities.css';
}

.subtitle {
  composes: subtitle from '../../styles/utilities.css';
}

.wrapper {
  composes: wrapper from '../../styles/utilities.css';
}
