.grid {
  lost-utility: clearfix;
  max-width: 960px;
}

.column {
  lost-waffle: 1/2;
}

@media all and (max-width: 35em) {
  .column {
    lost-waffle: 1;
  }
}

.btn {
  composes: button from '../../styles/buttons.css';
  margin-top: .2em;
  margin-bottom: 1em;
}

.btnManage {
  composes: btn;
  margin-top: .2em;
  margin-bottom: 1em;
  margin-left: .5em;
}

.btnTodos {
  composes: button from '../../styles/buttons.css';
  margin-top: 1em;
}

.btnDashboard {
  composes: buttonPrimary from '../../styles/buttons.css';
  padding: 0.5em 1em;
  margin-top: 1em;
  margin-left: 1em;
}

.title {
  composes: title from '../../styles/utilities.css';
}

.subtitle {
  composes: subtitle from '../../styles/utilities.css';
}

.wrapper {
  composes: wrapper from '../../styles/utilities.css';
}
