.border {
  margin: 0em;
  margin-top: -1px;
  border: solid 1px #ddd;
  width: 100%;
  padding: .5em;
  display: inline-flex;
  flex-direction: row;
}

.text {
  flex-grow: 1;
}

.item {
  padding: 0 .5em;
  cursor: pointer;
  display: inline-block;
}

.right {
  min-width: 7em;
}
