.btn {
  background-color: #03A9F4;
  color: #fff;
  padding: .8em;
  margin-top: .2em;
  width: 100%;
}

.btnShake {
  composes: btn;
  animation: shake .5s 1 ease-in-out;
}

@keyframes shake {
    0%, 100% {transform: translateX(0);}
    25%, 50%, 75% {transform: translateX(-10px);}
    50% {transform: translateX(10px);}
}


.wrapper {
  lost-center: 400px;
  padding: 4em 1em;
}

.title {
  text-align: center;
}

.subtitle {
  margin-bottom:.2em;
  margin-top:.6em;
  text-align: center;
}

.form input, .form label{
  display: block;
  margin: 0.25em 0;
  margin-bottom: 0em;
  z-index: 3;
}

.links {
  font-size: .8em;
  margin-right: .8em;
  text-align: center;
}

.error {
  color: red;
}

.success {
  color: green;
}
