.wrapper {
  lost-center: 400px;
  composes: wrapper from '../../styles/utilities.css';
}

.title {
  composes: title from '../../styles/utilities.css';
}

.subtitle {
  composes: subtitle from '../../styles/utilities.css';
}
