.grid {
  lost-utility: clearfix;
  max-width: 960px;
  margin: 1em 0;
}

.title {
  composes: title from '../../styles/utilities.css';
}

.wrapper {
  composes: wrapper from '../../styles/utilities.css';
}

.list {
  lost-waffle: 1/2;
  composes: cardShadow from '../../styles/utilities.css';
}

.closeList {
  lost-waffle: 1/2;
  composes: cardShadow from '../../styles/utilities.css';
}

.card {
  lost-waffle: 1/2;
  cursor: pointer;
}

.title {
  composes: title from '../../styles/utilities.css';
}

@media all and (max-width: 40em) {
  .card {
    lost-waffle: 1;
    animation: opencard .5s 1;
    animation-fill-mode: forwards;
  }
  .list {
    lost-waffle: 1;
    animation: openlist .5s 1;
    animation-fill-mode: forwards;
  }
  .closeList {
    position: absolute;
    animation: closelist .5s 1;
    animation-fill-mode: forwards;
  }
}

.link a{
  text-decoration: none;
}

@keyframes opencard {
  0% {
    transform: translate3d(100%,0,0);
  } 100% {
    transform: translate3d(0,0,0);
  }
}

@keyframes openlist {
  0% {
    transform: translate3d(-100%,0,0);
  } 100% {
    transform: translate3d(0,0,0);
  }
}

@keyframes closelist {
  0% {
    transform: translate3d(0,0,0);
  } 100% {
    transform: translate3d(-130%,0,0);
  }
}
