.grid {
  lost-utility: clearfix;
  max-width: 960px;
  margin-bottom: 1em;
}

.column {
  lost-waffle: 1/2;
}

@media all and (max-width: 40em) {
  .column {
    lost-waffle: 1;
  }
}

.btn {
  composes: button from '../../styles/buttons.css';
  margin-top: .6em;
  margin-bottom: 3em;
  width: 100%;
}

.title {
  composes: title from '../../styles/utilities.css';
}

.subtitle {
  composes: subtitle from '../../styles/utilities.css';
}

.profileSubtitle {
  composes: subtitle from '../../styles/utilities.css';
  margin-top: 3em;
}

.wrapper {
  composes: wrapper from '../../styles/utilities.css';
}
