.title {
  composes: title from '../../styles/utilities.css';
}

.wrapper {
  composes: wrapper from '../../styles/utilities.css';
}

.grid {
  lost-utility: clearfix;
  max-width: 960px;
}

.column {
  lost-waffle: 1/2;
}

@media all and (max-width: 40em) {
  .column {
    lost-waffle: 1;
  }
}

.btnFeatures {
  composes: button from '../../styles/buttons.css';
  margin: .4em 0em;
  width: 100%;
}

.btn {
  composes: buttonPrimary from '../../styles/buttons.css';
  width: 100%;
}

.btnShake {
  composes: buttonShakePrimary from '../../styles/buttons.css';
  width: 100%;
}

.addFeature {
  margin: .5em 0;
}

.form input, .form label{
  display: block;
  margin: 0.25em 0;
  z-index: 3;
}

.error {
  color: red;
}

.success {
  color: green;
}
