.grid {
  lost-utility: clearfix;
}

.column {
  lost-column: 1/2;
}

@media all and (max-width: 60em) {
  .formBox {
    lost-waffle: 1/2;
  }
}

@media all and (max-width: 35em) {
  .formBox {
    lost-waffle: 1;
  }
}

.btn {
  background-color: #03A9F4;
  color: #fff;
  padding: .8em;
  margin-top: .2em;
  width: 100%;
}

.addFeature {
  margin: .5em 0;
}

.subtitle {
  margin-bottom:.2em;
  margin-top:.6em;
  text-align: center;
}

.form input, .form label{
  display: block;
  margin: 0.25em 0;
  z-index: 3;
}

.fieldset {
  text-align: left;
}
