.wrapper {
  margin: 4em 1em;
}

.grid {
  lost-utility: clearfix;
}

.column {
  lost-waffle: 2/3;
}

@media all and (max-width: 60em) {
  .column {
    lost-waffle: 1/2;
  }
}

@media all and (max-width: 35em) {
  .column {
    lost-waffle: 1;
  }
}

.listGroup {
  margin-bottom: 2em;
  list-style: none;
}

.listGroup {
  margin-bottom: 2em;
  list-style: none;
}

.subTitle {
  margin-bottom: 1em;
}

.title {
  padding-bottom: .4em;
  border-bottom: 1px solid #ddd;
}
